---

  - name: "Configure management node"
    hosts: mgmt
    remote_user: beshoy
    become: true
    become_user: root
    become_method: su
    become_flags: "-"
    

    roles:
      - configure-xcat